<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="UTF-8">
<title>Alcor</title>
<style>header { display: flex; align-items: center; padding: 10px; } header img { height: 50px; margin-right: 10px; } </style>
</head>
<body>
<header>
<a href="/"><img src="/C:\Users\orion\Documents\Space Squad\Site\static\images/Logo.png" alt="Logo"></a>
<h1>Space Squad</h1>
</header>
<h1>Alcor</h1>
<p><em>Par Orion le MJ</em></p>
<h2>Histoire</h2>
<p>En 2051 (<a href="/templates/wiki/Calendrier%20Galactique.html">c-158</a>), alors que l'humanité se sait condamnée sur Terre, le Projet Alcor voit le jour.
Ce dernier consiste en la mise en orbite de Mars d'une station spatiale servant de transit entre l'espace et la surface de la planète rouge afin d'y établir la première colonie extraterrestre.
Le premier module est lancé en 2060 (<a href="/templates/wiki/Calendrier%20Galactique.html">c-149</a>) et marque la fondation de la Station Alcor.
Suite à la fondation de l'UCH en 2114 (<a href="/templates/wiki/Calendrier%20Galactique.html">c-99</a>), Alcor est nommé capitale.
Aujourd'hui, Alcor est la capitale du système Hélios, de la Confédération et communément de l'humanité.
cf. « Projet Alcor » pour plus de détails.
</p>
<h2>Construction</h2>
<p>Le premier module à arriver en orbite de Mars se nomme le cœur central, il contient tous les systèmes, protocoles et robots autonomes pour permettre d'y accrocher d'autres modules.
Le deuxième module baptisé « Archives » contient les serveurs de l'encyclopédie humaine. Ainsi, même si l'humanité ne parvenait pas à survivre, il resterait une trace de ses connaissances.
Les modules 3 et 4 contenaient tout le nécessaire pour la production de nourriture en orbite pour un équipage réduit.
Le cinquième module contenait lui le matériel de contrôle à distance pour les premiers appareils de colonisation.
Les modules 6 et 7 furent les premiers quartiers d'habitations. Ces modules furent envoyés avec 32 membres d'équipage.
Nous sommes alors en 2068 (<a href="/templates/wiki/Calendrier%20Galactique.html">c-142</a>), l'équipage d'Alcor doit préparer au mieux la station pour rediriger la première arche de colons vers la nouvelle colonie New Gaïa sur Mars. Ils disposaient pour cela de 4 ans.
En 2072 (<a href="/templates/wiki/Calendrier%20Galactique.html">c-138</a>), la liaison est établie entre les colons de New Gaïa et la station Alcor.
Entre-temps, la station aura reçu 8 nouveaux modules et 128 membres d'équipage.
L'épidémie de Flutterite sur Terre augmente la vitesse de production des modules.
En 2084 (<a href="/templates/wiki/Calendrier%20Galactique.html">c-127</a>), le projet Alcor est terminé et la station est opérationnelle.
La station est capable d'accueillir jusqu'à 1000 personnes.
Au fil des siècles, Alcor a été agrandie, la station d'origine est aujourd'hui la pièce centrale de la station, un cylindre de 1000m de haut avec à sa base une structure circulaire la reliant aux 3 autres secteurs cylindriques de 3050 m (3380 m pour celui de l'Alliance).
</p>
<h2>Secteurs</h2>
<p>Alcor est composée de 5 secteurs :
Secteur central
Secteur systèmes
Secteur de l'Alliance
Secteur Agricole
Secteur des habitations
Le secteur central (vert) est la station d'origine de 2084 (<a href="/templates/wiki/Calendrier%20Galactique.html">c-127</a>),
elle contient toutes les institutions administratives de la Confédération dont le parlement et la constitution originale de 2114 (<a href="/templates/wiki/Calendrier%20Galactique.html">c-99</a>).
Le secteur système (rouge) regroupe tous les modules de gestion dont le cœur central.
C'est d'ici qu'est gérée toute la station et c'est par ses ascenseurs express que l'on peut passer d'un secteur à l'autre.
Le secteur de l'Alliance est le QG de cette Organisation, il regroupe  un chantier spatial, le conseil de l'amirauté et les différentes divisions.
Le secteur Agricole regroupe toutes les zones de culture permettant de fournir la station en nourriture, eau et air. La production de ce secteur peut permettre de faire vivre jusqu'à 100.000 habitants.
Enfin le secteur des habitations contient tous les quartiers d'habitations des membres de la station.
<img src="C:\Users\orion\Documents\Space Squad\Site\static\images\Alcor.png" alt="Alcor.png">
</p>
<h2>Données statistiques</h2>
<p>Gravité rotationnelle dans les secteurs : 1 g
Gravité rotationnelle dans le secteur central : 0,7 g
Gravité rotationnelle dans le secteur système : 0,9 g
Longueur totale : 3,7 km
Diamètre : 1,6 km
Longueur des Secteurs : 3,05 km
Diamètre des Secteurs : 400 m
Diamètre de l'anneau du secteur système : 1,2 km
Largeur de l'anneau du secteur système : 75 m
Hauteur de la tour du secteur central : 1050 m
Épaisseur du blindage externe : 8 m
Population : 80 453 habitants
Capacité maximum : évalué à 100.000 habitants
Masse totale : 1,15 milliard de tonnes</p>

</body>
</html>