<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="UTF-8">
<title>Boucliers</title>
<style>header { display: flex; align-items: center; padding: 10px; } header img { height: 50px; margin-right: 10px; } </style>
</head>
<body>
<header>
<a href="/"><img src="/C:\Users\orion\Documents\Space Squad\Site\static\images/Logo.png" alt="Logo"></a>
<h1>Space Squad</h1>
</header>
<h1>Boucliers</h1>
<p><em>Par Orion le MJ</em></p>
<h2>Histoire</h2>
<p>À la fin du 21eme siècle, le Consortium est confronté à un problème de taille à cause des débris, les vaisseaux vont à une telle vitesse que le moindre débris entraîne des dégâts très importants. Pour pallier le problème, des blindages renforcés sont mis au point, mais leur poids devient une autre source de problèmes, entraînant une consommation excessive sur les générateurs.
En 2129 (<a href="/templates/wiki/Calendrier%20Galactique.html">c-85</a>), une nouvelle technologie apparaît, un émetteur de champs de forces gravitationnelles. Ce dernier est capable de créer une surface déviant les projectiles dans une certaine limite, cette technologie sera appelée « Boucliers cinétiques », puis abrégé en « Boucliers » par la suite.
</p>
<h2>L'évolution des technologies</h2>
<p>Les premiers prototypes d'émetteurs de champs de forces gravitationnelles permettaient de créer une surface de quelques centimètres carrés pouvant dévier de petits projectiles à faible vitesse.
Il faudra attendre 8 ans avant d'avoir un modèle capable de projeter une surface sur plus de 10m² et capable de suivre le fuselage d'un vaisseau.
En 2132 (<a href="/templates/wiki/Calendrier%20Galactique.html">c-82</a>), les vaisseaux sont équipés de boucliers, un émetteur pour l'avant et un pour l'arrière.
Même si techniquement il serait possible de couvrir tout un vaisseau avec un seul émetteur, la répartition de puissance le rendrait pratiquement inutile.
A partir de cet instant, les voyages spatiaux n'engendrent plus de dommages sur les blindages des vaisseaux qui peuvent retirer leurs blindages superflus.
C'est en 2195 (<a href="/templates/wiki/Calendrier%20Galactique.html">c-23</a>) que la technologie des boucliers sera miniaturisée pour être intégrés dans des pièces d'armure.
Puis en 2254 (<a href="/templates/wiki/Calendrier%20Galactique.html">c32</a>), grâce aux théories du scientifique Strani Kl'Tras, les boucliers d'armures pourront être harmonisés en un seul champ de forces là où ils étaient tous indépendants par avant.
Enfin, en 2321 (<a href="/templates/wiki/Calendrier%20Galactique.html">c95</a>), les boucliers deviennent capables de dévier des projectiles énergétiques.
Depuis, les boucliers ont peu changé dans leur fonctionnement, les seules évolutions concernent leur consommation et leur efficacité.
</p>
<h2>Fonctionnement</h2>
<p>Les boucliers, qu'ils soient sur des vaisseaux ou des armures fonctionnent sur le même principe.
Un émetteur crée un champ de forces gravitationnelles qui prend la forme de son support. Soit le fuselage d'un vaisseau, soit le membre sur lequel se trouve la pièce d'armure.
Dans le cas d'une armure, s'il y a plusieurs champs de forces proches les uns des autres, il vont se réorganiser pour former une sorte de cocon qui va englober toutes les zones émettrices.
Ces champs de forces sont toujours formés avec une forme de courbe.
Lorsqu'un projectile arrive sur un champ de forces, ce dernier réagit différemment selon s'il s'agit d'un projectile thermique ou physique.
Dans le premier cas, la chaleur est déviée par la force du champ dans toutes les directions en dehors du point d'impact, la dépense en énergie est importante pour le bouclier.
Autrement, en cas de projectile physique, ce dernier va entrer en collision avec une force cinétique. Le bouclier va chercher à faire « glisser » le projectile en déviant son vecteur d'approche le long de la courbe du champ.
La dépense énergétique du bouclier reste minime mais dépend de la taille du projectile, si ce dernier est trop gros, le bouclier ne pourra rien faire.
De même, en cas de projectile à très haute vélocité (proche de la vitesse lumière), le bouclier peut ne pas avoir le temps de reformer le champ de forces et donc laisser une ouverture pouvant (si elle est trop importante) détruire complètement le champ de forces.
</p>
<h2>Usage</h2>
<p>Aujourd'hui, les boucliers font partie du quotidien des pilotes, aussi bien sur leurs vaisseaux que leurs combinaisons.
Ils ne sont cependant pas infaillibles et s'ils sont mal utilisés peuvent mener à des catastrophes.
Extrait du « Manuel de formation » des pilotes du Consortium (Éditions 332) sur le chapitre dédié aux boucliers :
« Rappels : Les boucliers peuvent dévier les projectiles thermiques au prix d'une consommation importante d'énergie.
Un bouclier ne peut dévier un projectile plus important que la surface de son champ de forces ou si un projectile subit un autre vecteur de poussée durant sa déviation (ex : armes de mêlée).
Un projectile à vitesse lumière peut engendrer la destruction complète d'un champ de forces gravitationnelles.
Attention aux conditions météorologiques, les gouttes de pluie sont des projectiles et affaiblissent votre bouclier personnel. »</p>

</body>
</html>