<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="UTF-8">
<title>Calendrier Galactique</title>
<style>header { display: flex; align-items: center; padding: 10px; } header img { height: 50px; margin-right: 10px; } </style>
</head>
<body>
<header>
<a href="/"><img src="/C:\Users\orion\Documents\Space Squad\Site\static\images/Logo.png" alt="Logo"></a>
<h1>Space Squad</h1>
</header>
<h1>Calendrier Galactique</h1>
<p><em>Par Orion le MJ</em></p>
<h2>Origine</h2>
<p>Suite à la rencontre avec les Stranis en 2214 (c-5), une grande conférence des poids et mesures a été organisée en 2219 (c-0), cela à permis d'établir les unités standard d'un système galactique.
Dans la même optique, le nouvel an terrestre de 2220 (c0) sera utilisé comme l'an 0 du calendrier galactique.
</p>
<h2>Les unités</h2>
<p>A la vue de la précision de la définition humaine de la seconde, celle-ci est restée la même, à savoir : « La seconde est la durée de 9 192 631 770 périodes de la radiation correspondant à la transition entre les deux niveaux hyperfins de l'état fondamental de l'atome de césium 133 à la température du zéro absolu. »
Sur cette définition, la minute est définie comme étant égale à 60 secondes, et une heure étant égale à 60 minutes.
Les Stranis n'avaient pas d'unité comparable à la minute, ou du moins, une seule unité précise, aussi ont-ils accepté d'utiliser ces unités humaines.
Un jour correspond à une rotation de l'astre de référence.
Un an, ou une année, correspond à une période de révolution de l'astre de référence.
Ces deux unités sont relatives à la localisation de son utilisateur et ne sont pas utilisées en dehors de l'astre de référence.
L'astre en question est généralement l'objet stellaire sur lequel on se trouve, mais si ce dernier à une rotation inexistante ou excessivement lente par rapport à un autre objet (planète, étoiles, autres…), la rotation de cet autre objet pourra être utilisée pour définir un jour.
Voici les unités utilisées au niveau galactique, et parfois référencés comme unités galactiques standard :
Diur : correspond à une journée galactique standard, soit 25 heures
Mois : un ensemble de 25 diurs
Cycle : correspond à une année galactique standard, soit 15 mois
A titre de comparaison, un mois équivaut à environ 26 jours Terrestres, et un cycle équivaut à environ 390 jours Terrestres, soit 1.07 an Terrestre ou 1.7586 an Martien.
Dans l'usage commun, la date se note comme suit : diur/mois/cycle
Lorsqu'une date apparaît dans un document, le cycle correspondant est noté avec la lettre c (ex : 2576 (c333))
</p>
<h2>Synchronisation</h2>
<p>Le nouvel an Terrestre 2220 marqua le début de l'an 0 du calendrier galactique.
Afin de coordonner les appareils et ce en dépit des problèmes relatifs à la relativité du temps, il a été décidé que chaque balise de chaque système comporterait une horloge atomique, est que cette dernière serait synchronisée avec un temps de référence qui à l'origine se trouvait sur Alcor.
Suite à la création du Conseil Galactique en 2543 (c302), le temps de référence a été déplacé sur Matro IV.
Aujourd'hui, nous sommes en l'an 2576 du calendrier Terrien, ce qui correspond au cycle 333 du calendrier galactique.
</p>

</body>
</html>