<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="UTF-8">
<title>Chronologie Strani</title>
</head>
<body>
<h1>Chronologie Strani</h1>
<p><em>Par Orion le MJ</em></p>
<p>Cette chronologie relate tous les événements majeurs de l'Histoire Strani depuis le début du 18eme siècle (les dates ont été converties en anciennes mesures terriennes pour faciliter la lecture).</p>
<h2>18eme siècle :</h2>
<p>1715 – Les trois grandes nations Stranis entrent en état de guerre froide. l'Union Fédérale Strani (UFS), l'Empire Klars et l'Alliance des Royaumes Indépendants (ARI).
1736 – Les tensions dans les états neutres s'accentuent à mesure que les superpuissances tentent d'imposer leur influence.
1754 – Début de la course à l'espace.
1759 – Premier Strani (UFS) dans l'espace.
1765 – Premier Strani (Klars) sur la lune de Sotolia
1770 – Projet conjoint de station spatiale internationale
1785 – Grand traité de libre échange mondial, fin de la guerre froide.
</p>
<h2>19eme siècle :</h2>
<p>1812 – L'économie mondialisée se met en place, les différences économiques des différents royaumes de l'ARI la plonge dans une période de troubles politiques.
1820 – L'ARI est dissoute, les différents royaumes se regroupe en plus petites alliances ou rejoignent l'UFS ou l'Empire Klars selon leur proximité.
1821 – La dissolution de l'ARI à provoqué une onde de choc sur les marchés économiques.
1826 – La crise de l'ARI se fait toujours ressentir et l'Empire  montre des difficultés à maintenir sa stabilité.
1835 – Grande récession, l'instabilité politique de l'UFS et économique de l'Empire provoque un effondrement de l'économie mondialisée.
1836 – L'Empire est éclaté suite au décès de l'Empereur en 5 partis,  l'UFS est scindée en 2 nations en réponse au choc économique.
1845 – Première guerre mondiale généralisé à tous les blocs des anciennes superpuissances.
1846 – La majorité des nations neutres et indépendantes sont contrainte de rejoindre le conflit, ne serait-ce que pour se protéger des invasions.
1852 – Création et utilisation de la première arme nucléaire.
1853 – La guerre est terminée sur un statu quo
1854 – Le Royaume Sras (issu de l'Empire) menace le monde de ses armes nucléaires. L'Empire Klars est reformé et renommé Empire Sras.
1860 – L'Empire Sras déclenche une campagne d'annexion de ses voisins. Les 2 blocs de l'UFS reforme l'Union.
1885 – L'UFS s'équipe de l'arme atomique.
1890 – La situation politique est similaire à celle de 1820.
</p>
<h2>20eme siècle :</h2>
<p>1901 – Tout le monde craint une répétition de 1836, un plan de dissolution est préparé par le fils de l'Empereur contre l'avis de ce dernier.
1904 – Mort de l'Empereur Sras, son fils qui lui succède met en place le plan de dissolution de l'Empire.
1905 – L'Empire est dissout en plusieurs nations chacune libres et indépendantes.
Ces nations fondent la Coalition de l'Est.
1908 – Suivant l'exemple de l'Empire, l'UFS met en place un plan de scission similaire.
1912 – Il n'y a plus de superpuissances, les nations coopèrent dans une nouvelle économie mondialisée.
1914 – Traités de Trane, afin d'éviter la crise de 1812, de sévères restrictions économiques sont mises en place.
1935 – Les nations du monde s'unissent autour d'un grand projet international, la colonisation de la Lune.
1952 – Début de la construction de la colonie lunaire.
1960 – La colonie lunaire est établie avec un système politique indépendant
1962 – Nouveau projet international, la colonisation du système solaire.
1970 – Les projets spatiaux ont permis de former une grande stabilité politique dans la majorité des nations du monde. De grandes unions économiques se créent.
1993 – Premiers voyages spatiaux accessibles au public.
</p>
<h2>21eme siècle :</h2>
<p>2012 – « Révolution du Metal », l'exploitation des astéroïdes du système permet de décupler la production à partir de métaux rares.
2018 – Découverte de l'émetteur de champ de forces gravitationnelles (<a href="/templates/wiki/Boucliers">Boucliers</a>)
2035 – Toutes les planètes habitables du système sont colonisés
2046 – Toutes les planètes sont exploitées.
2068 – Nouveau projet spatial : créer une sphère de Dyson – projet Lis
2090 – Le projet Lis est mis en chantier.
</p>
<h2>22eme siècle :</h2>
<p>2101 – Première étape du projet Lis terminée, fin du projet estimé à 20 ans.
2122 – Lis est terminé, l'apport énergétique fournie permet une liberté sans précédent.
2124 – Fondation de la République Strani, union de toutes les nations pour préparer l'exploration spatiale. La langue Trane est imposée.
2129 – Découverte du Générateur de Trou de Ver (<a href="/templates/wiki/Générateur de Trou de Ver">GTV</a>).
2135 – Projet <a href="/templates/wiki/Tr'Traris">Tr'Traris</a> lancée, création d'automates alimentés par Lis pour créer une force de travail inépuisable.
2142 – Premier Tr'Traris en activité, cela pose des problèmes de sociétés.
2144 – Révolution sociétale, la force de travail des Tr'Traris est telle que toute l'organisation de la société est repensée pour la prendre en compte.
2145 – Age d'or de la République, début de l'expansion extra-stellaire.
2151 – Première colonie extra-stellaire.
2170 – Rébellion Tr'Traris, dans la recherche de plus d'autonomie, les Tr'Traris ont acquis une forme de conscience et se rebellent.
2175 – Les Tr'Traris s'organisent et possèdent un apport d'énergie infini grâce à Lis que l'Union refuse de détruire puisqu'il s'en sert également. La fin de Lis implique la mort des colonies du système et la fin de l'expansion spatiale.
2176 – Début de la guerre ouverte entre les Tr'Traris et la République.
2191 – L'avancée Tr'Traris contraint les derniers Strani à quitter Sotolia.
</p>
<h2>23eme siècle :</h2>
<p>2214 – Premier contact avec une race "extraterrestre", les Humains, des émissaires sont envoyés de part et d'autre afin de briser la barrière de la <a href="/templates/wiki/Langues">langue</a>
2217 – La langue des Humains est décryptée, signature d'un traité d'échange commercial et instauration par la Guilde (<a href="/templates/wiki/Organisations">organisation</a> humaine) d'une monnaie commune, le Koni
2219 – Première conférence galactique des poids et mesures, harmonisation des unités entre Stranis et Humains
2220 – Cycle 0 du <a href="/templates/wiki/Calendrier Galactique">Calendrier Galactique</a>
2234 – Premier Strani à entrer au Consortium
2247 – La technologie des implants crâniens est applicable aux Stranis
2295 – Première planète co-colonisé par la République et l'Union (autre organisation humaine).
</p>
<h2>24eme siècle :</h2>
<p>2317 – Centenaire du premier traité Humano-Strani
2352 – Découverte d'une nouvelle race "extraterrestre" nommée Torks
2355 – A la vue de l'expansion des Torks, l'extermination totale est décrété par la République et l'Alliance (organisation militaire humaine)
2356 – Les forces armées Stranis intègrent l'Alliance
2370 – Un cessez-le-feu avec les Tr'Traris est mis en place pour concentrer l'effort de guerre sur les Torks.
2397 – Les Torks ont été repoussés hors de l'espace colonisé, la République déplore la perte de 48 planètes (dont 11 colonies) durant la guerre (Tr'Traris non compris)
</p>
<h2>25eme siècle :</h2>
<p>2406 – Les Stranis peuvent maintenant intégrer la Confédération humaine via une naturalisation et réciproquement.
2421 – Première « frontière » commune entre la République et la Confédération humaine.
2456 – Centenaire de l'Alliance entre Stranis et Humains face aux Torks
2486 – Découverte d'une nouvelle race "extraterrestre" dans un système isolé, la non-intervention est décrétée par l'Union. Les Vadas sont sous observation
2490 – La <a href="/templates/wiki/Langues">langue</a> des Vadas est décryptée par un Strani
</p>
<h2>26eme siècle :</h2>
<p>2510 – Des factions Tr'Tari indépendantes s'établissent sur des planètes « Non viable »
2514 – Première liaison commerciale entre la Guilde et une faction Tr'Tari, la République dénonce un comportement dangereux.
2543 – Les Vadas explorent l'espace, la République et l'Union décident de fonder  un lieu de coopération inter-espèce sur une planète neutre, le <a href="/templates/wiki/Conseil Galactique">Conseil Galactique</a> est établi sur Matro IV, les Vadas sont invités à le rejoindre
2544 – Les Vadas intègrent le Consortium
2572 – Lancement du projet Ω par le conseil
2576 – Aujourd'hui</p>

</body>
</html>