<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="UTF-8">
<title>Chronologie Vada</title>
</head>
<body>
<h1>Chronologie Vada</h1>
<p><em>Par Orion le MJ</em></p>
<p>Cette chronologie relate tous les événements majeurs de l'Histoire Vada depuis le début du 24eme siècle (les dates ont été converties en anciennes mesures terriennes pour faciliter la lecture).</p>
<h2>24eme siècle :</h2>
<p>2301 – Fête de la paix, première année complète sans aucune guerre sur la planète
2305 – Les guerres laissent place à des conflits commerciaux.
2308 – L'absorption de plusieurs autre clans place le clan Onzurn comme la première superpuissance de l'histoire avec une population dépassant le million.
2309 – Une alliance de clans se forme en réponse : « La Grande Alliance ».
2312 – Après une décennie de paix, la population pousse les deux puissances à éviter le conflit armé, c'est le début d'un affrontement commercial et idéologique.
2315 – Afin d'éviter l'affrontement, les clans restés neutres forment la « Confédération libre ».
2324 – Première crise financière mondiale, les systèmes politiques des Onzurn et de la Grande Alliance sont mis à mal.
2330 – Le clan Onzurn change drastiquement de modèle politique et adopte la première République démocratique de l'histoire.
2345 – La majorité des clans de Grion abandonnent leur système monarchique pour des République plus ou moins démocratique.
2346 – Les anciens monarques se rassemblent et décident de former un nouveau clan pour survivre, c'est la naissance du clan Gromula (sans territoire)
2358 – Grâce à leur expérience du pouvoir, beaucoup de Gromula parviennent à intégrer les gouvernements de nombreuses république.
2363 – Création du territoire des Gromula.
2364 – De nombreuses manifestations manquent de provoquer une guerre civile dans la plupart des républiques. Tous les membres des Gromula sont expulsés des différents gouvernements.
2365 – Afin d'éviter un massacre, le Grand Tribunal d'Arbitrage est créé, il devient une institution gérée par les Gromula qui auront donc la charge d'arbitrer les conflits entre États.
2368 – De nouvelles institutions internationales apparaissent, les Gromula en restent exclus des postes importants.
2379 – Seconde grande crise financière mondiale, la gestion de la crise sur les conseils des Gromula leur permet d'être considérés comme un clan reconnu par tous.
2395 – Lancement du projet « Au-delà », qui a pour but d'atteindre la barrière du ciel. Le projet est vivement critiqué par les instances religieuses.
2399 – Le projet « Au-delà » provoque une forte scission dans les différentes sociétés.
</p>
<h2>25eme siècle :</h2>
<p>2401 – Grande fête de la paix, premier siècle sans guerre.
2405 – Le projet « Au-delà » connaît de gros retards suite aux premiers incidents d'extrémistes religieux.
2412 – Premier appareil volant créé, malgré de fortes contestations, le premier vol est effectué sans incident.
2445 – Premier objet à atteindre la frontière du ciel
2458 – Premier objet à franchir le ciel, découverte de l'espace pour l'espèce Vada.
2461 – Révolution théologique, les instances religieuses subissent de profondes réformes.
2470 – Premier Vada dans l'espace.
2486 – Détection de signaux non identifiés à proximité de Grion (découverte des Vada par un vaisseau de l'Union humaine)
2498 – Mise en orbite de la Station Spatiale Internationale.
</p>
<h2>26eme siècle :</h2>
<p>2510 – Début du projet « Arche », un vaisseau colon qui explorera l'espace, des volontaires seront envoyés pour un voyage sans retour.
2535 – Construction du vaisseau Arche.
2543 – Premier contact alien, Arche est contactée (dans la langue des Gromula).
La République Strani et l'Union décident de fonder un lieu de coopération inter-espèce sur une planète neutre, le <a href="/templates/wiki/Conseil%20Galactique.html">Conseil Galactique</a> est établi sur Matro IV, les Vadas sont invités à le rejoindre
2544 – Les Vadas intègrent le Consortium
2546 – Les Vadas profitent d'un bond technologique offert par les Stranis et les Humains et leur société en est profondément bouleversée.
2553 – Les instances internationales désignent les Gromula comme représentants de l'espèce en attendant une forme d'union des gouvernements.
2572 – Lancement du projet Ω par le conseil
2576 – Aujourd'hui</p>

</body>
</html>