<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="UTF-8">
<title>Confédération</title>
</head>
<body>
<h1>Confédération</h1>
<p><em>Par Orion le MJ</em></p>
<h2>Histoire</h2>
<p>Tout commence en 2084 (<a href="/templates/wiki/Calendrier Galactique">c-126</a>), lorsque des membres de certains gouvernements de la Terre se sont exilés sur <a href="/templates/wiki/Alcor">Alcor</a>, ils avaient la charge de préparer une structure politique pour Alcor et New Gaïa et de laisser ce système aux réfugiés de la Terre au plus tard en 2094.
On retiendra en particulier l'instauration de l'Alcorien comme <a href="/templates/wiki/Langues">langue</a> unique en 2090 (<a href="/templates/wiki/Calendrier Galactique">c-121</a>), et la création du Consortium en 2097 (<a href="/templates/wiki/Calendrier Galactique">c-115</a>).
Les colons de New Gaïa prennent le pouvoir en 2093, les gouvernements se succèdent et permettent à la colonie de se développer et d'accueillir plus de monde.
C'est en 2113 (<a href="/templates/wiki/Calendrier Galactique">c-100</a>) qu'entre en vigueur le CCA, ce qui sera la pierre fondatrice de l'Union Confédérale Humaine (UCH) l'année suivante.
L'UCH devient la Confédération en 2184 (<a href="/templates/wiki/Calendrier Galactique">c-33</a>).
</p>
<h2>Système politique</h2>
<p>La Confédération est fondée sur deux textes : le <a href="/templates/wiki/Tribunal d'Alcor">CCA</a>, et le Traité d'Alcor.
Le premier est la Loi, le second est la Constitution.
Ainsi, chaque colonie pourra être autonome et indépendante, ou bien ratifier le traité d'Alcor et faire partie de la Confédération.
Chaque colonie est donc indépendante en matière de politique, d'économie et de sécurité. En contrepartie, la gestion de l'éducation, la formation, les échanges extra-planétaires, l'armée, la recherche, l'exploration et la justice sont appliquées par de grandes organisations extra-stellaires.
Ces <a href="/templates/wiki/Organisations">organisations</a> que sont le Consortium, l'Alliance, la Guilde, l'Union et le Tribunal d'Alcor sont indépendantes et fonctionnent en circuit fermé.
Se référer aux documents d'organisations de chacune pour plus de détails.
Chaque organisation doit également désigner deux membres de leur conseil dirigeant qui feront partie de la délégation représentative de la Confédération.
C'est cette délégation qui représente l'humanité lors des rencontres avec d'autres espèces. Elle nomme également l'un de ses membres pour faire partie du <a href="/templates/wiki/Conseil Galactique">Conseil Galactique</a> sur Matro IV.
</p>
<h2>Citoyens</h2>
<p>Tout individu acquiert la citoyenneté à sa majorité (20 cycles / 21,39 ans pour les humains) et après un service de 2 ans effectué dans l'une des Organisations au choix. Ce statut confère les droits suivants garantis par la constitution :
« Tout citoyen doit être libre de pouvoir quitter la colonie avec ses biens en toute sécurité. »
« Tout citoyen peut exprimer son opinion lors des référendums de réforme du CCA et/ou du Traité d'Alcor. »
Néanmoins, chaque colonie ayant son propre système politique, le statut de citoyen peut ne pas être suffisant pour accéder à certaines fonctions.</p>

</body>
</html>