<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="UTF-8">
<title>Conseil Galactique</title>
</head>
<body>
<h1>Conseil Galactique</h1>
<p><em>Par Orion le MJ</em></p>
<h2>Histoire</h2>
<p>En 2543 (<a href="/templates/wiki/Calendrier%20Galactique.html">c302</a>), les Vadas atteignent les limites de leur système d'origine.
Ce faisant, les Humains et les <a href="/templates/wiki/Stranis.html">Stranis</a> entrent en contact avec eux.
L'Union propose alors la création d'un conseil galactique, une assemblée composée de représentants de chaque race afin de réguler les expansions de chacune et de fournir une base neutre diplomatique.
Les Stranis approuvèrent l'idée et proposèrent aux Vadas de l'intégrer.
Le Conseil Galactique fut alors fondé sur Matro IV planète permettant aux trois races de pouvoirs s'y déplacer sans équipement extérieur, que ce soit en matière d'atmosphère ou de gravité.
</p>
<h2>Rôle</h2>
<p>Le Conseil Galactique a 3 rôles à jouer, tout d'abord, un rôle de médiateur, tout conflit opposant la <a href="/templates/wiki/Confédération.html">Confédération</a> (ou l'une de ses <a href="/templates/wiki/Organisations.html">organisations</a>), la <a href="/templates/wiki/République%20Strani.html">République Strani</a> ou un clan Vada pourra être arbitré par le Conseil.
Deuxièmement, le Conseil peut proposer des projets communs aux trois races, on citera en exemple le projet Ω lancé en 2572 (<a href="/templates/wiki/Calendrier%20Galactique.html">c329</a>) ayant pour objectif la création d'une station spatiale géante capable accueillir le Conseil et de former une forteresse face à une attaque ennemie (Torks ou <a href="/templates/wiki/TrTraris.html">Tr'Trari</a>).
Enfin, le Conseil est en charge de l'attribution des permis de colonisation, il régule les expansions de chaque race en fonction de ses besoins. L'ensemble de l'espace régulé est nommé « Espace Concilien ».
</p>
<h2>Formation</h2>
<p>Le Conseil est formé d'une petite assemblée de 100 individus (ce nombre peut être changé en fonction des populations et possibles autres races).
Ses membres sont nommés par les différentes races proportionnellement à leur population.
La méthode de nomination est propre à chaque race.
Sur ces 100 membres, chaque race choisit 2 de ses membres en tant que représentants, ce sont eux qui parleront au nom du Conseil.
À ce jour (2576 – <a href="/templates/wiki/Calendrier%20Galactique.html">c333</a>), l'assemblée est composée de 44 Stranis, 38 Humains, et 18 Vadas.
Les Humains sont choisis parmi les représentants des différents conseils dirigeants des organisations. Ils restent au Conseil tant qu'ils sont soutenus par leurs mandats respectifs dans leur organisation.
Les Stranis sont choisis par le président, en suivant l'idée de leur constitution, 50 % des nommés appartiennent au parti du président, les autres sont des représentants des autres partis proportionnellement à l'assemblée Strani.
Les Vadas n'ayant pas de gouvernement unifié, ils ont choisi le Clan Groluma pour les représenter. Ce dernier nomme certains de ses membres selon les choix du chef de clan.</p>

</body>
</html>