<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="UTF-8">
<title>Divisions</title>
<style>header { display: flex; align-items: center; padding: 10px; } header img { height: 50px; margin-right: 10px; } </style>
</head>
<body>
<header>
<a href="/"><img src="/C:\Users\orion\Documents\Space Squad\Site\static\images/Logo.png" alt="Logo"></a>
<h1>Space Squad</h1>
</header>
<h1>Divisions</h1>
<p><em>Par Orion le MJ</em></p>
<h2>Origine</h2>
<p>Selon les règles originelles du <a href="/templates/wiki/Organisations.html">Consortium</a>, il n'existe pas de limite maximale au nombre de membres d'une escouade.
Des limites « naturelles » en matière de cohésion finissent invariablement par limiter ce nombre. En moyenne, on constate que la majorité des escouades sont formées de moins de 10 membres répartis sur 4 à 6 vaisseaux.
Durant à la grande expansion humaine suite à la rencontre avec les <a href="/templates/wiki/Stranis.html">Stranis</a>, l'augmentation de l'activité des pilotes a amené certaines escouades à s'agrandir et former des groupes de plus de 20 personnes, mais il était rare qu'elles participent toutes aux mêmes missions.
C'est donc en 2230 (<a href="/templates/wiki/Calendrier%20Galactique.html">c9</a>) que le Consortium créa les « Divisions » et limita les escouades à 10 membres.
</p>
<h2>Fonctionnement</h2>
<p>Au lieu de former ou rejoindre une escouade, les pilotes peuvent rejoindre une Division. Contrairement aux escouades qui sont un groupe de pilotes indépendants, les Divisions ont un système hiérarchique.
Chaque Division est sous la supervision de 3 de ses membres désignés soit lors de la création, soit par leur prédécesseur.
La Division fait office de « contact » de référence pour les offres de mission, elles présélectionne les missions selon les besoins/envies des pilotes et indique le paiement en prenant en compte sa commission.
En contrepartie de cette commission, la Division s'engage à fournir un point de chute (ou Quartier Général) à tous ses membres ainsi que divers services (prêts d'armes d'occasion, hangar à vaisseau, tarifs avantageux pour les simulateurs, etc.).
Les pilotes peuvent donc changer de coéquipiers à volonté parmi les membres de la Division.
Enfin, tous les membres de la Division utilisent la même I.V. qui profite d'une puissance de calcul supérieure aux I.V. d'escouades habituelles.
Seul une escouade remplissant certains critères peut demander la création d'une Division :
- Avoir au moins 6 membres
- Tous les membres sont de Rang 10
- L'escouade possède un bâtiment aux normes pouvant accueillir au moins 10 vaisseaux et les entretenir avec leur pilote (réfectoire, infirmerie, dortoir, vestiaire, etc.)
- Une somme d'argent conséquente (qui sera évalué suite à la demande) afin d'avoir un capital de base pour le fonctionnement courant de la base.
Il est laissé une grande liberté sur le nom de la Division, la règle majeure étant qu'il ne peut pas y avoir des doublons (parmi les Divisions actives ou passées)
</p>
<h2>Grandes Divisions dans l'Histoire</h2>
<p>Ici seront évoquées quelques Divisions ayant dépassé les 10 cycles d'existence, beaucoup se fondent, se réforment, changent de nom ou de QG ou disparaissent plus simplement.
Les information statistiques sont datées des information du cycle en cours : 2576 – <a href="/templates/wiki/Calendrier%20Galactique.html">c333</a>
La première à voir le jour est la Warhammer Division en 2232 (<a href="/templates/wiki/Calendrier%20Galactique.html">c11</a>) sur Alcor. Plutôt que d'être transmise à des successeurs, et conformément à leurs dernières volontés, elle fut dissoute en 2274 (<a href="/templates/wiki/Calendrier%20Galactique.html">c50</a>) suite à la mort de son dernier fondateur.
La plus peuplée est la Vanguard Division. S'étant fait une spécialité d'accompagner les jeunes pilotes par un système de mentorat, elle compte à ce jour 126 pilotes actifs et des dossiers archivés de plus de 5000 pilotes remontant à sa fondation en 2268 (c45).
Elle enregistre également la vitesse de progression dans les Rang la plus rapide de l'histoire du Consortium.
La plus durable est la Fire Tear Division fondée en 2257 (<a href="/templates/wiki/Calendrier%20Galactique.html">c34</a>) et toujours en activité.
La plus performante est la Iron Guardians Division avec un taux de réussite de mission de 97,9 %
Fondée en 2433 (<a href="/templates/wiki/Calendrier%20Galactique.html">c199</a>) sur Loria Orbital (système Hope), elle possède encore aujourd'hui l'un des QG les mieux équipés.
Fière de ses résultats, elle est très sélective parmi les postulants.
La plus décorée est la Dawn Star Division avec 38 « <a href="/templates/wiki/Distinctions.html">Green Star</a> », la plus haute distinction de la Confédération.
Fondée en 2348 (<a href="/templates/wiki/Calendrier%20Galactique.html">c120</a>) sur Kloris Orbital (système Kalo), elle a été particulièrement active durant la guerre Tork.
La plus riche est la Brave Circle Division fondée en 2357 (c128) sur New Quebec (système Delapiti) qui en 2431 (<a href="/templates/wiki/Calendrier%20Galactique.html">c197</a>) possédait 12 colonies.
C'est en 2360 (<a href="/templates/wiki/Calendrier%20Galactique.html">c130</a>) que l'Union régulera les possessions coloniales et mettra fin à ce « record », le rendant indépassable avec la législation actuelle.</p>

</body>
</html>