<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="UTF-8">
<title>Formation de pilote</title>
<style>header { display: flex; align-items: center; padding: 10px; } header img { height: 50px; margin-right: 10px; } </style>
</head>
<body>
<header>
<a href="/"><img src="/C:\Users\orion\Documents\Space Squad\Site\static\images/Logo.png" alt="Logo"></a>
<h1>Space Squad</h1>
</header>
<h1>Formation de pilote</h1>
<p><em>Par Orion le MJ</em></p>
<h2>Études supérieures</h2>
<p>La formation de pilote est à considérer comme une voie universitaire, elle permet d'obtenir en 3 <a href="/templates/wiki/Calendrier%20Galactique.html">cycles</a> une licence de pilote qui permet à son détenteur d'utiliser tout modèle de vaisseaux équipé d'un <a href="/templates/wiki/Générateur%20de%20Trou%20de%20Ver.html">GTV</a> et les armes de guerre.
Celle-ci se déroule dans l'un des nombreux centres de formation du Consortium composant un secteur d'une station spatiale. Le plus ancien étant celui de la station Loria Orbital de Hope I.
</p>
<h2>Contenu</h2>
<p>Chaque cycle est séparé en 2 semestres :
Programme S1 : Mécanique des Chasseurs et Chasseurs Lourds, Diplomatie,  Maniement des armes de poings et des Fusils d'assaut, Mécanique des véhicules légers et intermédiaires.
Programme S2 : Biologie, Cryptographie, Techniques de combat rapproché, Stratégie des escouades, Maniement des armes lourdes et montées.
Programme S3 :  Pilotage des Chasseurs et Chasseurs Lourds, Utilisation des Tourelles, Pilotage des véhicules légers et intermédiaires, Maniement des Shotgun et Canons.
Programme S4 : Maniement des Fusils de précisions, Mécanique des Corvettes et Frégates, Mécanique des Véhicules Lourds et blindés
Programme S5 : Pilotage des Corvettes et frégates, Pilotages des véhicules lourds et blindés, Utilisation des armes sur le terrain
Programme S6 : Préparation à l'épreuve finale de mise en situation réelle.
Cas spécifique de l'activité physique : le « sport » ne consiste pas en une matière à part entière, mais est présente dès le S1. Lors du premier cycle, chaque étudiant est supervisé par un coach dont la mission est de le préparer aux séances sur le terrain d'entraînement du cycle 2.
À partir du cycle 3, il s'agit plus simplement d'habituer le futur pilote à entretenir son corps pour ses missions.
Les étudiants n'utilisent pas de simulateur avant le cycle 2 et de vrais vaisseaux ou armes avant le S6.
</p>
<h2>Évaluation</h2>
<p>Pour rejoindre la formation, il est nécessaire de passer un examen d'entrée.
Ce dernier consiste en une épreuve écrite qui reprend une grosse partie des enseignements du lycée (physique, mécanique, biologie, etc.) et un entretien personnel afin d'évaluer la psychologie de l'étudiant, les profils « violents » sont systématiquement rejetés.
Chaque matière fera l'objet d'une évaluation (avec note plancher). La formation se termine lors d'une épreuve finale, une simulation grandeur nature.
La difficulté de certaines épreuve fait que la majorité des étudiants ne valident la formation qu'au bout de 4 cycles.
Les évaluations écrites suivent des sujets validés au niveau confédéral, les autres suivent un protocole de simulation extrêmement précis.
Toutes les évaluations sont supervisées et validées par des inspecteurs du Consortium.
Tout au long de la formation, les étudiants sont également évalués sur leur stabilité psychologique.
En particulier durant les simulations, si un étudiant est déclaré comme trop sensible (stress, angoisse, panique, etc.) son cursus peut être mis en attente le temps de trouver une solution.
</p>
<h2>L'épreuve finale</h2>
<p>L'étudiant est finalement noté sur son épreuve finale avec un score sur 100 points.
Avec un système de bonus/malus pour la cohésion d'escouade, il est possible de dépasser les 100 points, si l'étudiant a au moins 72/100, il est reçu. Le meilleur score jamais enregistré était de 108 points.
Dans le détails, cette épreuve contraint les étudiants à former une escouade de 4 à 10 personnes. Les escouades sont validées durant le S5 et préparées durant le S6.
Lors de l'épreuve, l'escouade embarque dans des chasseurs (chargés à blanc) et participera à une mission simulée du Rang 1. Il peut s'agir d'escorter un vaisseau de marchandises, faire une reconnaissance dans un secteur, affronter des pirates en effectifs réduits…
Une fois cette première étape finie, une autre similaire est mise en place lors d'une simulation au sol (en général sur la colonie locale). Sécuriser un site, chasser des aliens, détruire un avant-poste bandits, etc.
Toutes ces simulations se font avec des tirs « à blanc » et font intervenir différentes situations et événements imprévus pour évaluer les réactions de l'escouade.
Tout est filmé est évalué par plusieurs formateurs externes au centre de formation. Les notes individuelles peuvent prendre plusieurs jours à être révélées.</p>

</body>
</html>