<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="UTF-8">
<title>Grande Pandémie Terrienne</title>
</head>
<body>
<h1>Grande Pandémie Terrienne</h1>
<p><em>Par Aoboshi</em></p>
<h2>Apparition</h2>
<p>L'humanité a connu beaucoup de grandes épidémies à travers les âges : peste noire, grippe espagnole, choléra... Néanmoins, aucune ne fut aussi meurtrière que la flutterite.
Maladie issue de la fusion entre une bactérie Bartonella Henselae et Yersinia Pestis, celle-ci se développa en premier lieu chez le chat. Cette union ne put pas encore être identifiée, étant donné la capacité du Bartonella à ne pas présenter de symptômes chez le chat.
Les premiers cas déclarés furent dans les zones fortement peuplées de la Terre, pendant l'année terrestre 2074 (<a href="/templates/wiki/Calendrier%20Galactique.html">c-136</a>).
Cette maladie nouvelle se déclara chez des patients ayant été griffés par un chat.
Les symptômes présentés ne furent, en premier lieu que des douleurs musculaires et des maux de tête, marques de la maladie des griffes de chat, bien connue de l'humanité. Ceux-ci furent alors traités en conséquence.
Pendant plusieurs mois, de plus en plus de cas se déclarèrent à travers le monde, tandis que les traitements semblaient étrangement inefficaces.
Les symptômes de la maladie évoluaient, commençant à affecter les organes lymphatiques, le foie ainsi que le système respiratoire, provoquant des toux plus ou moins violentes chez les patients. Plus étrange encore, certains patients contractaient les mêmes symptômes sans avoir été en contact avec un chat.
</p>
<h2>Développement</h2>
<p>Pendant l'année 2075 (<a href="/templates/wiki/Calendrier%20Galactique.html">c-135</a>), des recherches furent menées sur ce pathogène plus violent que ce qu'il était cru, et sa nature fut révélée. L'union entre deux bactéries, ayant acquis une grande résistance face aux médicaments.
Ce nouveau pathogène semblait vicieux, se présentant comme une bête maladie des griffes de chat, avant de s'aggraver et d'affecter le système respiratoire, dévoilant de cette manière son second moyen de propagation : l'air lui-même.
Ayant eu une année pour se propager et se camouflant dans la pollution terrienne, ce fut lors de cette année que la grande pandémie fut déclarée, les cas se multipliant à travers la planète.
Malgré sa lenteur, cette nouvelle maladie semblait bien partie pour éliminer l'humanité. Celle-ci ayant tout le loisir d'infecter les humains, au système immunitaire affaibli par la pollution.
</p>
<h2>Effets</h2>
<p>La flutterite passe par plusieurs phases, commençant par de simples maux de tête et des douleurs musculaires, puis affecte les organes lymphatiques, affaiblissant encore plus le système immunitaire et passant ainsi dans sa seconde phase.
Les maux de tête évoluent en fièvre, et le patient commence à être pris de toux de plus en plus violentes, jusqu'à finir par cracher sang et pus. Cette toux se révéla être le moteur de propagation de la maladie par la voie des airs.
La troisième phase se caractérise par une difficulté à respirer du malade, de plus en plus importante ainsi que par une ictère ( ou "jaunisse" ), causée par un arrêt progressif du foie. À ce stade, le malade finit par mourir, incapable de respirer et son foie n'étant plus en mesure de remplir sa fonction.
</p>
<h2>Conséquences</h2>
<p>Malgré toutes ses tentatives, l'humanité ne fut pas en mesure de trouver un remède à la flutterite. Celle-ci ne put survivre que grâce au départ dans l'espace d'individus sains.
La population terrienne fut complètement éliminée par la pandémie en 2151 (<a href="/templates/wiki/Calendrier%20Galactique.html">c-64</a>), bien que la maladie ne fut pas la seule cause de sa disparition.
La pollution, la famine globale causée par la disparition des espèces animales et végétales ainsi que le chaos engendré par la fin imminente de l'humanité furent également des facteurs dans la disparition de la population terrienne.
</p>
<h2>ID pathologique</h2>
<p>Nom : Flutterite
Agent infectieux : Une bactérie nouvelle, provenant de l'union de Bartonella
Henselae et de Yersinia Pestis.
Symptômes : Douleurs musculaires, maux de tête/fièvre, problèmes de foie, immunodéficience, toux ( pouvant mener à crachat de sang et de pus ), dyspnée.
Moyen de propagation : Griffures de chat ou par voie aérienne.</p>

</body>
</html>