<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="UTF-8">
<title>Indice de viabilité</title>
</head>
<body>
<h1>Indice de viabilité</h1>
<p><em>Par Orion le MJ</em></p>
<h2>Histoire</h2>
<p>En 2135 (<a href="/templates/wiki/Calendrier Galactique">c-79</a>) les premiers projets de colonies hors du système Hélios apparaissent.
De nombreuses planètes ayant déjà été découverte, l'Union décide de créer une échelle afin de mesurer la viabilité de ces mondes.
En 2137 (<a href="/templates/wiki/Calendrier Galactique">c-77</a>) apparaît l'indice de viabilité, il peut prendre 4 valeurs chacune correspondant à un niveau de danger d'un environnement.
À chaque niveau est associé une procédure de colonisation. Il revient aux Pionniers de l'Union de déterminer cet indice sur le terrain.
</p>
<h2>Les valeurs de l'indice</h2>
<p>Voici les différentes valeurs de l'indice de viabilité :
1 – Non viable
Principalement utilisé pour les environnements où la vie est impossible, des astéroïdes aux planètes telluriques sans atmosphère ou les planètes gazeuses.
Ces planètes ne sont pas aptes à recevoir une colonie, mais peuvent accueillir des bases ou installations pour collecter des ressources.
2 – Hostile
La vie sur ces planètes n'est pas possible sans assistance, il reste cependant possible de développer des avant-postes. La vie coloniale reste limitée, au mieux évitée.
3 – Habitable
Toute planète abritant de la vie ou étant capable de l'accueillir.
Les conditions de vie peuvent être difficiles ou nécessitants des aménagements, mais il est possible de déployer une colonie.
4 – Parfait
Planète regroupant toutes les caractéristiques au développement de la vie humaine.
Ces mondes sont prioritaires pour le déploiement de nouvelles colonies.
</p>
<h2>La Terre</h2>
<p>La terre a possédé un indice de viabilité de 4 jusqu'au début du 21eme siècle à partir duquel il est passé à 3 suite au début de la Grande Pandémie de Flutterite en 2075 (<a href="/templates/wiki/Calendrier Galactique">c-135</a>).
En 2153 (<a href="/templates/wiki/Calendrier Galactique">c-61</a>), l'indice de la Terre passe à 2 suite aux derniers relevés atmosphériques.</p>

</body>
</html>