<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="UTF-8">
<title>Langues</title>
<style>header { display: flex; align-items: center; padding: 10px; } header img { height: 50px; margin-right: 10px; } </style>
</head>
<body>
<header>
<a href="/"><img src="/C:\Users\orion\Documents\Space Squad\Site\static\images/Logo.png" alt="Logo"></a>
<h1>Space Squad</h1>
</header>
<h1>Langues</h1>
<p><em>Par Orion le MJ</em></p>
<h2>Langue Humaine</h2>
<p>A l'origine, la Terre comportait de multiples nations et encore plus de langues, suite à l'exil de l'humanité sur Mars et la fondation d'Alcor et New Gaïa, il a été décidé en 2085 (<a href="/templates/wiki/Calendrier%20Galactique.html">c-126</a>) suite à l'unification des gouvernements d'instaurer une langue commune à tous.
Parmi les candidats potentiels, l'Anglais était la langue que la majorité des habitants parlaient en seconde langue.
A partir de cette Anglais, des linguistes ont créé l'Alcorien, qui est une version simplifiée (en grande partie sur l'orthographe et la phonétique) de l'Anglais.
En 2090 (<a href="/templates/wiki/Calendrier%20Galactique.html">c-121</a>), l'Alcorien est instauré comme langue unique à l'école humaine.
Depuis, elle est restée la langue de l'humanité, et quand bien même elle a évolué au fil des siècles, elle reste l'une des pierres fondatrices de l'union des Hommes pour la conquête spatiale.
</p>
<h2>Langue Strani</h2>
<p>La langue officielle des <a href="/templates/wiki/Stranis.html">Stranis</a> pour les échanges diplomatiques est le Trane, il s'agit de la langue instaurée à la fondation de la <a href="/templates/wiki/République%20Strani.html">république Strani</a> en 2124 (<a href="/templates/wiki/Calendrier%20Galactique.html">c-88</a>). Il existe des dialectes propres à certaines planètes ou régions de la république, mais tout citoyen Strani se doit de parler le Trane.
Cette langue est semblable à une suite d'onomatopées et de sifflements pour l'oreille humaine, il est donc quasi impossible pour un humain de parler le Trane.
Lors du premier contact, la barrière de la langue a été franchie grâce à des interprètes robotiques et au travail des linguistes Humains sur des extraits d'écritures Stranis.
De leur côté, les Stranis sont capables de comprendre l'Alcorien, même s'ils ont quelques difficultés avec les ‘s' puisque le Trane possède tout un répertoire de sons sifflés. Ils ne peuvent en revanche pas le parler sans un énorme effort et seront limités à certaines sonorités.
</p>
<h2>Vada</h2>
<p>Les Vadas n'ayant pas de gouvernement unifié, il en est de même pour leur langue.
Chaque clan Vada parle sa propre langue, mais elles ont toutes des points communs très marqués.
Sur le plan diplomatique, les Vadas parlent la langue du clan Groluma qui les représente au Conseil Galactique.
Les Vadas sont capables de comprendre l'Alcorien et le Trane mais ne peuvent parler que l'Alcorien.
Les Humains peuvent eux parler le Vada alors que les Stranis en sont totalement incapables.
</p>
<h2>Micro-interprète</h2>
<p>Avant 2225 (<a href="/templates/wiki/Calendrier%20Galactique.html">c5</a>), tous les échanges entre Humains et Stranis nécessitaient des interprètes robotiques. Mais depuis la technologie des implants crâniens, et suite au travail de l'Union en matière de traduction instantanée, les implants sont équipés d'un micro-interprète qui va traduire toute les langues connues vers la langue de son hôte.
La traduction est de l'ordre de la microseconde, rendant possible la communication entre tous ceux équipés d'implant.
Cette avancée a permis d'intégrer avec une grande facilité les membres des autres races dans le Consortium.
Et depuis 2240 (<a href="/templates/wiki/Calendrier%20Galactique.html">c19</a>), l'interprète fait également office de traducteur, rendant la lecture de textes aliens possible.
Aujourd'hui, tous les membres du Consortium sont capables de communiquer entre eux que ce soit par écrit ou par oral.
Les civils non équipés d'implant doivent eux utiliser un interprète robotique (chaque spatioport en possède au moins un).</p>

</body>
</html>