<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="UTF-8">
<title>Noms</title>
</head>
<body>
<h1>Noms</h1>
<p><em>Par Orion le MJ</em></p>
<h2>Noms Stranis</h2>
<p>\nNoms Humains\n
Les noms des citoyens de la <a href="/templates/wiki/Confédération.html">Confédération</a> sont similaires à ceux utilisés dans les pays occidentaux du 21eme siècle, à savoir un prénom (suivi parfois d'un second prénom) et d'un nom de famille.
Néanmoins, l'émancipation des pilotes étant très forte dans leur formation, la plupart préfèrent utiliser un nom d'usage qu'ils acquièrent lors de leurs études ou durant leur vie professionnelle.
Il est peu fréquent mais possible que ce nom change au cours de la vie d'un pilote.
Ainsi, sur le plan juridique, seul le nom de famille et le prénom sont pris en compte, mais dans la vie quotidienne, le nom d'usage remplace le nom de famille.
Quelques exemples de noms de pilotes de la Confédération :
Noms masculins: Raymy ‘Gunner' Barnes / Gory ‘Slice' Kera / Terey ‘Nova' Pete / Alten ‘Ant' Lora / Emymo ‘Grim' Garce / Roby ‘Cross' Coley / Wardy ‘Bells' Belley / Ruce ‘Lock' Jackson / Stery ‘Catch' Binson / Lane ‘Hide' Scotte
Noms Féminins: Marthia ‘Shiny' Richy / Joyce ‘ Aura' Rodray / Lica ‘Coil' Foste / Mara ‘Virus' Jenking / Jane ‘Chain' Robell / Mara ‘Bain' Scampbenn / Diana ‘Dare' Miry / Rene ‘Friction' Kelly / Mildra ‘Frost' Milly / Eren ‘Barrage' Mason
Les <a href="/templates/wiki/Stranis.html">Stranis</a> ont deux noms, le premier qui fait office de prénom ne peut pas s'écrire avec notre alphabet, il s'entend comme un sifflement avec une certaine mélodie, mais quasi impossible à reproduire par un corps humain.
Par conséquent, les Stranis utilisent leur second nom, qui est un nom de portée (tous les individus d'une même portée portent ce même nom) qui lui se transcrit sous la forme de deux à trois syllabes.
Exemples de noms (de portée) Stranis : Sr'Klos / Mer Gs'Pac / N'Bik / Dj'Mra / Ar Kl' / Lf'Spyk / Cr'Ser Nk' / Ni Kptang
</p>
<h2>Noms Vadas</h2>
<p>Les Vadas possèdent un nom composé contenant un préfixe pour leur sexe, suivie de leur prénom, puis le nom de leur clan, il est d'usage de prononcer tout le nom lorsque l'on s'adresse à un Vada.
Oublier ou omettre l'un de ces éléments est perçu comme une injure. Du moins dans le contexte d'une discussion normale, en situation de combat par exemple, l'usage de diminutif n'est pas un souci du moment que l'individu est correctement identifié par ce diminutif.
Mais avec un certain degré d'intimité avec un Vada, il peut tolérer une appellation plus courte.
Dans le cas où un Vada n'a plus de clan, c'est le suffixe "Klotre" qui est utilisé
Exemples de noms Vadas :
Noms masculins: Ker-Glarud-Kroma / Ker-Bluros-Kroma / Ker-Artis-Dlit / Ker-Sidro-Groluma / Ker-Ptakilm-Vlak
Noms féminins: Var-Jirkol-Dlit / Var-Dreko-Vlak / Var-Lanik-Qriik / Var-Artis-Groluma / Var-Pirtan-Mlani</p>

</body>
</html>