<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="UTF-8">
<title>Organisation de l'Alliance</title>
</head>
<body>
<h1>Organisation de l'Alliance</h1>
<p><em>Par Hadrian</em></p>
<h2>Direction</h2>
<p>L'Alliance est divisée en différentes structures, chacune dirigé par un amiral :
Division Opérationnelle, chargé de la gestion des pilotes affiliés à la flotte ainsi que de l'attribution des missions courantes
Division Stratégique, chargé du développement de l'Alliance ainsi que de l'attribution des missions critiques
Division Logistique, chargé de l'approvisionnement des stations de l'Alliance et également de la gestion des installations
Division Technologique, chargé de la conception du matériel et de la recherche dans le domaine militaire
L'Alliance est dirigé par l'amirauté, un conseil composé des plus anciens et prestigieux amiraux.
On y trouve les quatre amiraux dirigeant les quatre Divisions, ainsi que des vice-amiraux tirés au hasard parmi tous les vice-amiraux pour un durée de 4 ans et le Premier Amiral de la flotte qui est par tradition l'amiral du Secteur Hélios.
Le QG de l'Alliance est basé au sein de la station spatiale Alcor où il occupe une grande partie de la station et accueil tous les organismes décisionnaires de l'alliance ainsi que certains de ses plus performants chantiers spatiaux.
L'Alliance divise l'espace de la Confédération en secteur regroupant 4 à 6 systèmes exploités. Chaque secteur est dirigé par un vice-amiral basé sur une station spatiale situé en orbite de la planète la plus développée du secteur. Ces stations font offices de quartier général régionaux et regroupe tout le matériel nécessaire aux pilote de l'Alliance ou en cas de besoin aux autres. L'Alliance possède aussi de nombreux avant-postes situés dans les systèmes de chaque secteur ainsi que des garnisons sur les planètes en cours de colonisation ou de monde demandant une surveillance particulière (c'est le cas de certaines planètes rendu non-viable par la guerre contre les Torks).
Quand bien même les forces armées Stranis ont rejoint l'Alliance, celle-ci ne couvre pas les systèmes Stranis ou Vadas, chaque race gère la sécurité des ses systèmes indépendamment des autres.
Cette supervision des systèmes aliens ne serait utilisée qu'en temps de guerre.
</p>
<h2>Divisions</h2>
<p>La Division Opérationnelle :
La Division opérationnelle est chargée d'accuser réception des demandes d'aides des gouvernements planétaires ainsi que des ordres de missions des stations de l'Alliance. Il s'agit de la Division la plus administrative de l'Alliance et possède au minimum un bureau dans toutes les colonies, même les avant-postes.
On retrouve au sein de cette Division un grand nombre de secrétaires et d'employés de bureau qui s'occupe du fonctionnement quotidien de l'Alliance ainsi que de jeunes officiers en début de carrière.
La Division Stratégique :
La Division stratégique est chargée de planifier le développement de l'Alliance et, à ce titre, s'occupe de l'attribution des missions de premières importances. On retrouve au sein de cette Division aussi bien des stratèges, des théoriciens militaires, des diplomates ou des politiciens dont la mission est de s'assurer que l'Alliance puisse toujours répondre aux menaces pesant sur le Consortium.
De par sa fonction, il s'agit de la Division la plus petite et la plus prestigieuse de l'Alliance et on ne la retrouve qu'au sein des stations principales de chaque secteur.
La Division Logistique :
La Division logistique est la seconde Division la plus importante en termes d'effectifs de l'Alliance. Elle s'occupe de la gestion, de l'entretien du matériel et des infrastructures de l'Alliance. C'est également elle qui se charge de l'approvisionnement de toutes les garnisons de l'Alliance et, de ce fait, elle possède au moins un bureau dans toutes celles-ci. Enfin, elle est chargée du fonctionnement de nombreux chantiers spatiaux de l'Alliance qui fournissent à ses pilotes les vaisseaux nécessaires pour accomplir leurs missions.
La Division Technologique :
La Division technologique est une ancienne sous division de la Division logistique, elle a gagné son indépendance afin de se détacher de la lourdeur administrative de celle-ci et pour pouvoir collaborer plus facilement avec ses homologues de la Guilde et de l'Union. Elle est chargée du développement technologique et scientifique de l'Alliance, allant de la recherche en physique théorique à la psychologie humaine et extraterrestre en situation d'isolement (domaine qui s'est révélé capital pour les longs voyages spatiaux).
Elle dispose de locaux dans les stations principales des secteurs de l'Alliance mais fonctionne principalement grâce à ses propres stations-laboratoires.
La sous-division de garnison :
La sous-section de garnison est une subdivision de la Division opérationnelle chargé de la gestion des garnisons planétaire de l'Alliance, bien que très importante en terme d'effectif, elle ne constitue pas une Division propre du fait de son extrême dispersion et des liens étroits entre les garnisons et les gouvernements locaux.
Chaque garnison est gérée par un commandant, sa première tâche sera la formation des forces de sécurité locales.
</p>
<h2>Les missions</h2>
<p>L'Alliance utilise un système de catégories pour classer les différentes missions qu'elle propose aux pilotes, cette catégorisation est menée par la division opérationnelle mais la division stratégique peut se saisir de n'importe qu'elle mission.
Catégorie 1 :
Les missions de catégorie 1 sont les plus faciles que propose l'Alliance, il s'agit de mission très variables dans leur objectif (escorte de transport de marchandise ou de voyageur, élimination de faune hostile peu dangereuse, etc…) mais ne présentant pas de dangerosité particulière et ne demandant pas de compétence importante.
Ce genre de mission est très peu rémunéré mais sert souvent de départ pour les débutants et de bonus dans le cas d'un voyage.
Catégorie 2 :
Les missions de catégorie 2 sont les plus courantes, les objectifs de ce type de mission sont également très variable mais implique souvent de faire face à une menace particulière ou nécessite des compétences spécifiques (chasse au pirate, convoyage de matériel ou de personnel important, chasse à la faune dangereuse, destruction d'astéroïdes, ect…).
Ces missions sont d'avantage rémunérées mais attirent surtout des pilotes moyennement expérimentés.
Catégorie 3 :
Les missions de catégorie 3 représentent les missions courantes présentant un niveau de dangers plus élevé ou une plus grande importance pour l'Alliance, elles sont aussi variable que celles de catégorie 2 mais nécessite des pilotes plus expérimenté.
Ces missions sont bien rémunérées et attirent tous type de pilotes expérimentés.
Catégorie 4 :
La catégorie 4 regroupe les missions difficiles de l'Alliance demandant la mobilisation de pilotes chevronnés, on retrouve dans cette catégorie essentiellement des missions d'élimination de menace importante (bande de pirates, chef pirates, criminel de haut niveau, destruction d'installation Tork,
ect…).
Catégorie 5/Mission stratégique :
La catégorie 5 est attribué aux missions fournis par la branche stratégique de l'Alliance, celles-ci sont souvent très difficiles et ont toujours des objectifs très spécifiques, voir exotiques. Elles ne sont pas proposé sur les tableaux de missions mais c'est la division stratégique qui se charge de contacter des escouades à même d'accomplir celles-ci, elles restent toutefois non-obligatoire mais la récompense est toujours à la hauteur de la difficulté.

Missions urgentes :
Les missions urgentes sont aussi fournis par la division stratégique mais sont cette fois-ci sont obligatoire pour les pilotes de l'Alliance, il s'agit de mobiliser un grand nombre de pilotes pour faire face à une urgence.
Elles ne sont toutefois pas aussi difficiles que les missions de catégorie 5. 
Ces missions sont en règle général bien rémunéré mais surtout, toute absence non justifiée peut faire l'objet de sanctions.
Remarque : La division stratégique sélectionne le type de pilotes mobilisé ainsi des débutant ne risque pas d'être envoyé dans une mission suicidaire pour eux.
La re-catégorisation :
Il arrive parfois que la branche opérationnelle face une erreur dans la catégorisation d'une mission, dans ce cas, les pilotes peuvent faire une demande (avec justification) pour que la récompense soit réévaluée après la mission.
Cette réévaluation ne peut se faire qu'à l'avantage des pilotes (mission de catégorie 2 réévaluée en catégorie 3 avec augmentation de prime mais pas catégorie 2 vers catégorie 1 avec baisse de prime).
Des demandes de re-catégorisation trop fréquentes et injustifiée peuvent faire l'objet de sanctions.
</p>
<h2>Les Stranis dans l'Alliance</h2>
<p>Du fait des 200 ans d'intégration des Stranis dans l'Alliance, ceux-ci se sont parfaitement intégrés à cette organisation et la hiérarchie ne tient pratiquement plus compte des différences entre humain et Stranis.
De ce fait, on retrouve des membres de cette espèce en très grand nombre dans l'Alliance (bien qu'il reste moins nombreux que les humains) et à tous les postes qu'elle peut proposer, y compris dans les plus hautes instances décisionnaires.
Malgré tout, les différences naturelles entre humains et Stranis font qu'il existe une tendance à encourager les membres d'un ou l'autre peuple dans certaines voies.
Étant donné qu'il n'existe pas de réelle différence entre les capacités cognitives des deux espèces, toutes les divisions sont ouvertes à part égale à leurs membres. Il existe toutefois une spécialisation forte des Stranis appartenant à la division logistique pour le travail de précision, le travail en environnement légèrement toxique et pour la maintenance où les caractéristiques naturelles des membres de cette espèce sont très appréciées.
De plus, les Stranis ont tendance à préférer le travail en apesanteur où leur faiblesse physique est moins handicapante.
</p>
<h2>Quelques installations particulières de l'Alliance</h2>
<p>Le Quartier Général d'Alcor :
Le Quartier Général d'Alcor, souvent appelé QG A, est le plus haut lieu de commandement de l'Alliance, situé au sein de la station Alcor.
On retrouve au sein de ce quartier, la direction général de toutes les branches et divisions de l'Alliance, c'est également dans ce lieu que siège l'Amirauté, le conseil chargé de la direction de l'Alliance. 
En plus d'être un gigantesque centre administratif, la station regroupe tous les services nécessaires aux pilotes de l'Alliance, tel que des casernes, terrains d'entraînements, armureries, hangars, hôpitaux militaires, etc. Enfin, la station regroupe sous son commandement direct les chantiers spatiaux de l'Alliance dans le système solaire. 
Du fait de son importance, seuls les pilotes affiliés à l'Alliance et les pilotes spécifiquement invités ont le droit de se rendre dans le QG.
Le multi-complexe Laste :
Le multi-complexe Laste est le regroupement administratif de tous les complexes de recherche de l'Alliance au sein du système Hélios dans le but de centraliser les découvertes.
Il regroupe de nombreuses stations et installations dans tout le système tel que (liste non exhaustive):
Laste, se trouvant sur Deimos, qui archive les recherches du complexe.
Arès, sur Phobos, il s'agit de  la principale station du complexe et regroupe les recherches en matière d'armement ainsi que de nombreuses recherches exotiques.
Vénus, en orbite de cette planète, qui étudie le comportement des vaisseaux et des équipements en condition climatique extrême.
Amalthée, sur la lune éponyme de Jupiter, qui teste le matériel de l'Alliance dans la grande variété de conditions que sont les lunes de Jupiter.
Cérès, situé dans la ceinture d'astéroïde intérieur du système solaire, elle étudie les systèmes de navigation et de combat en utilisant la ceinture d'astéroïde comme terrain d'essai.
La base Vigilance :
Il s'agit de l'une des plus grande base de l'Alliance car son rôle est de surveiller Cerberi et d'assurer l'influence de la Confédération au niveau de la frontière. Le commandement de cette base l'un des postes les plus critique de l'Alliance du fait de son côté très sensible.</p>

</body>
</html>