<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="UTF-8">
<title>Organisations</title>
</head>
<body>
<h1>Organisations</h1>
<p><em>Par Orion le MJ</em></p>
<h2>Définition</h2>
<p>Une Organisation est une entité appartenant à la <a href="/templates/wiki/Confédération.html">Confédération</a> et régissant un ou plusieurs domaines gouvernementaux au service des citoyens et de la Confédération.
Les Organisations sont auto-financées et autonomes dans leur fonctionnement. Elles n'ont pas de supérieurs en dehors de la loi de la Confédération (<a href="/templates/wiki/Tribunal%20d'Alcor.html">CCA</a>), et de la constitution. Elles restent néanmoins dépendantes les unes des autres.
</p>
<h2>Histoire</h2>
<p>La première Organisation fut le Consortium créé en 2097 (<a href="/templates/wiki/Calendrier%20Galactique.html">c-114</a>) alors même que la Confédération n'existait pas encore.
À cette époque, le Consortium était une institution de formation des pilotes.
Suite à la création de l'UCH puis de la Confédération, le Consortium devient une Organisation chargée de l'éducation et de la formation des citoyens.
En 2215 (<a href="/templates/wiki/Calendrier%20Galactique.html">c-4</a>), suite à la rencontre avec les Stranis, trois Organisations furent créées, l'Alliance, la Guilde Marchande et l'Union Planétaire, respectivement chargés de la sécurité, du commerce et de l'exploration.
Enfin, en 2250 (<a href="/templates/wiki/Calendrier%20Galactique.html">c28</a>), le <a href="/templates/wiki/Tribunal%20d'Alcor.html">Tribunal d'Alcor</a> est créé pour s'occuper de la justice.
</p>
<h2>Consortium</h2>
<p>Le Consortium est la plus ancienne des Organisations, elle s'occupe de l'éducation jusqu'à la majorité, puis de l'accompagnement durant le service obligatoire de 2 cycles, et enfin de la formation (de 3 cycles) des pilotes.
Tout individu souhaitant piloter un vaisseau (en dehors des petits véhicules non prévus pour les voyages interstellaires) doit être enregistrer au Consortium et avoir suivi la formation ou être capable de passer tous les examens pour les postulants externes.
Un pilote du Consortium reçoit la possibilité de travailler à son compte avec les Organisations, avec l'assistance et le soutien du Consortium.
La formation fournit un entraînement au pilotage (des chasseurs aux frégates ainsi qu'aux véhicules armés) et à leur entretien, à l'usage des armes montées, au combat terrestre (maniement des armes thermiques et cinétiques, déplacement en terrain hostile, usage des armes de combat rapproché), aux négociations et à la diplomatie, et aux techniques de premiers soins.
Tout ceci permettant aux pilotes de pourvoir à la plupart des situations auxquelles ils pourront être exposés au cours de leur carrière.
La devise du Consortium est : « Révélez votre potentiel »
cf. « Organisation du Consortium » pour plus de détails sur le fonctionnement interne
</p>
<h2>Alliance</h2>
<p>Fondée en 2215 (<a href="/templates/wiki/Calendrier%20Galactique.html">c-4</a>) avec la Guilde et l'Union, l'Alliance représente la force armée de la Confédération.
À l'origine uniquement humaine, le premier Strani à y entrer le fit en 2240 (<a href="/templates/wiki/Calendrier%20Galactique.html">c19</a>).
En pleine guerre contre les Torks, les forces armées Stranis fusionnent avec l'Alliance en 2356 (<a href="/templates/wiki/Calendrier%20Galactique.html">c127</a>). Depuis l'Alliance est une organisation inter-espèce mais reste sous la juridiction de la Confédération.
Le fonctionnement interne de l'Alliance reste donc en théorie régie par la loi et la constitution confédérale, mais cette dernière étant très générale, l'Alliance reste très indépendante de son évolution.
En temps de guerre, c'est elle qui envoie les pilotes au combat et choisi les stratégies à appliquer : quels systèmes défendre, quelles planètes attaquer, où seront effectués les ravitaillements, etc.
Dans ces circonstances, l'Alliance peut réquisitionner tout vaisseau de la Confédération pour l'effort de guerre, peu importe son affiliation.
Tous les pilotes affiliés à l'Alliance ont obligation de répondre aux missions de guerre sous peine d'être classifié comme déserteur et de voir leur licence de pilote révoquée.
En temps de paix, l'Alliance s'occupe du maintien de la paix extra-stellaire.
Chaque système possède sa propre force de police indépendante.
Néanmoins, ces forces doivent suivre les directives de l'Alliance le cas échéant.
Ainsi, les missions les plus fréquentes de l'Alliance sont :
- la surveillance des frontières (Cerberi et Torks)
- la poursuite et la capture ou élimination de criminels en fuite
- la protection rapprochée de convois
- faire de la reconnaissance dans des secteurs hostiles
La devise de l'Alliance est : « Gardiens de la civilisation ».
cf. « <a href="/templates/wiki/Organisation%20de%20l'Alliance.html">Organisation de l'Alliance</a> » pour plus de détails sur le fonctionnement interne
</p>
<h2>Guilde Marchande</h2>
<p>Fondée en 2215 (<a href="/templates/wiki/Calendrier%20Galactique.html">c-4</a>) avec l'Alliance et l'Union, la Guilde représente la gestion économique de la Confédération.
Il fut décidé de fusionner toutes les instances économiques et financières de la Confédération en une seule entité qui deviendra la Guilde Marchande (simplement appelé Guilde).
Cette organisation est en charge de l'équilibre économique des colonies de la Confédération, et de tout ce qui a trait à la création, extraction et transport de marchandises.
Dès la création, il fut instauré une règle d'or inscrite dans la loi de la Confédération, elle ne peut donc être changée que par référendum :
Une part de 50 % minimums des bénéfices nets de la Guilde Marchande devra être redistribuée selon leurs besoins aux autres organisations.
La Guilde supervise toutes les infrastructures en dehors des colonies servant à l'extraction ou la fabrication/transformation de ressources.
Elle s'occupe en plus du transport de ses marchandises, et de toute ressource quittant une colonie.
Enfin, la Guilde dispose d'une branche chargé de surveiller les demandes des colonies et des autres factions en fonction des traités commerciaux.
Le but étant d'adapter l'offre à la demande et d'éviter toute forme de spéculation sur les ressources dont la production est contrôlée.
Les traités commerciaux de la Guilde sont également de puissantes armes diplomatiques pour la Confédération. Ces derniers ayant permis une relation amicale avec les <a href="/templates/wiki/Stranis.html">Stranis</a> dès le premier échange.
La devise de la Guilde est : « Tissons les liens de l'avenir »
cf. « Organisation de la Guilde » pour plus de détails sur le fonctionnement interne
</p>
<h2>Union</h2>
<p>Fondée en 2215 (<a href="/templates/wiki/Calendrier%20Galactique.html">c-4</a>) avec l'Alliance et la Guilde, l'Union est en charge de la recherche, de l'exploration et de la supervision des colonies.
À l'origine l'Union des Centres de Recherches Spatiales (UCRS) était le regroupement de tous les organismes de recherche de la Confédération.
Mais suite à la première colonisation en dehors du système Hélios sur Hope I en 2248 (<a href="/templates/wiki/Calendrier%20Galactique.html">c26</a>), le tout nouvel Institut Colonial fut intégré à l'UCRS pour former l'Union Planétaire.
Chaque colonie possède son propre système politique, aussi l'Union n'est là que pour accompagner les gouvernements coloniaux dans leur gestion et leur organisation locale, ainsi que pour les relations avec l'extérieur.
Concrètement, si une colonie a besoin d'un apport de ressources, le gouvernement local en fait part à la branche locale de l'Union, et c'est cette dernière qui va s'occuper de contacter les bonnes personnes pour effectuer la livraison au nom du gouvernement.
En plus de cela, l'Union possède et gère tout un réseau de stations de recherche. Et quand bien même l'Alliance mène ses propres recherches dans le domaine militaire exclusivement, ses chercheurs restent en contact avec celles de l'Union dont les champs de recherches sont beaucoup plus vastes.
Enfin l'Union est en charge de la cartographie de la galaxie, elle gère donc les frontières de l'espace confédéral et choisi les systèmes à explorer et répertorier.
La devise de l'Union est : « Cherchons, explorons, comprenons ».
cf. « Organisation de l'Union » pour plus de détails sur le fonctionnement interne
</p>
<h2>Tribunal d'Alcor</h2>
<p>Fondé en 2250 (<a href="/templates/wiki/Calendrier%20Galactique.html">c28</a>), le Tribunal d'Alcor diffère des autres Organisations.
Chaque colonie de la Confédération possède un Tribunal qui est là pour juger les affaires d'infractions au CCA.
Chaque colonie finance la tenue du Tribunal et ce dernier ne requiert le service des pilotes que de manière exceptionnelle et très particulière.
cf. « <a href="/templates/wiki/Tribunal%20d'Alcor.html">Tribunal d'Alcor</a> » pour plus de détails sur le fonctionnement interne</p>

</body>
</html>