<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="UTF-8">
<title>Titre</title>
<style>header { display: flex; align-items: center; padding: 10px; } header img { height: 50px; margin-right: 10px; } </style>
</head>
<body>
<header>
<a href="/"><img src="/C:\Users\orion\Documents\Space Squad\Site\static\images/Logo.png" alt="Logo"></a>
<h1>Space Squad</h1>
</header>
<h1>Titre</h1>
<p><em>Par Auteur</em></p>
<p>Introduction</p>
<h2>Sous-titre</h2>
<p>Paragraphe

<a href="/templates/wiki/Titre%20du%20lien.html">phrase à link</a>

<img src="C:\Users\orion\Documents\Space Squad\Site\static\images\Image.png" alt="Image.png">
</p>

</body>
</html>