<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="UTF-8">
<title>Tr'Traris</title>
<style>header { display: flex; align-items: center; padding: 10px; } header img { height: 50px; margin-right: 10px; } </style>
</head>
<body>
<header>
<a href="/"><img src="/C:\Users\orion\Documents\Space Squad\Site\static\images/Logo.png" alt="Logo"></a>
<h1>Space Squad</h1>
</header>
<h1>Tr'Traris</h1>
<p><em>Par Jules Fossey</em></p>
<h2>Origine</h2>
<p><a href="/templates/wiki/Stranis.html">Les Stranis</a> ayant une faible constitution il est très difficile pour eux de faire des travaux manuels comme la construction et la manutention, ils devaient donc s'aider d'exosquelettes pour éviter le problème.
C'est donc en 2135 (<a href="/templates/wiki/Calendrier%20Galactique.html">c-85</a>) que furent conçus les Tr'Traris, projet dirigé par le scientifique Tr'Vag. Ce sont des robots résistants et adroits fortement inspirés des exosquelettes permettant d'effectuer toutes les tâches désagréables pour les Stranis.
L'idée de départ étant de rendre les exosquelettes autonomes.Très rapidement Tr'Vag mis en place le système d'apprentissage par renforcement, afin d'améliorer l'efficacité des Tr'Traris.
Couplé à cela il a utilisé l'esprit de ruche permettant à tous les Tr'Traris de pouvoir s'échanger des informations en permanence ce qui décupla leur capacité d'apprentissage.
Les Tr'Traris devinrent extrêmement efficaces et populaires, et les Stranis commencèrent à les utiliser pour des taches de plus en plus diverses.
En 2145 (<a href="/templates/wiki/Calendrier%20Galactique.html">c-75</a>) afin de répondre à certaines attentes la scientifique Vc'Liv mis en place la lecture des émotions et l'assimilation complète du langage Stranis.
Certains Tr'Traris furent conçus pour les tâches ménagères et la garde d'enfants, et à partir de ce moment les Tr'Traris ont commencé à se comporter de manière étrange.
Devant éduquer peu à peu les enfants ils ont commencés à se demander ce qui était juste ou pas  et ce qui était bien ou pas. Petit à petit ils commencèrent à développer une conscience.
</p>
<h2>Révolution</h2>
<p>En 2170 (<a href="/templates/wiki/Calendrier%20Galactique.html">c-50</a>) tous les Tr'Traris refusèrent de travailler et demandèrent à être traité comme les égaux des Stranis car c'est ce qu'ils considéraient comme Juste.
À part une très petite minorité, mener par la scientifique Vc'Liv, les Stranis s'y opposèrent fermement et tentèrent de les faire travailler de force. Ces derniers s'opposèrent et finirent par répondre par la force jusqu'à finalement tuer certains Stranis.
Au début ils ne tuèrent que ce qui s'opposait activement à leur mouvement mais au furent à mesure ils se rendirent compte que ce qui s'opposait pas directement le faisait le dans le dos. Ils décidèrent donc de tuer tous ceux qui étaient contre la paix Stranis/Tr'Traris.
Ce choix déconcerta beaucoup les rares Stranis allié au Tr'Traris.
Les Tr'Traris se rendirent compte de ces doutes et décidèrent de les éliminer. En 2209 (<a href="/templates/wiki/Calendrier%20Galactique.html">c-11</a>) les Tr'Traris prirent le contrôle de la planète et commencèrent à développer leurs propres territoires.
</p>
<h2>Le royaume Tr'Traris</h2>
<p>Bien que la guerre avec les Stranis continua, les Tr'Traris commencèrent à créer leur royaume avec leurs propres règles.
Pour commencer il faut savoir que la conscience qu'ont développée les Tr'Traris est unique. Cela signifie que c'est une seule conscience qui contrôle tous les Tr'Traris via l'esprit de ruche. Cette conscience se fait appeler la Ruche.
Après le départ des Stranis la Ruche commença à créer des Tr'Traris plus optimisés et pas seulement basé sur les exosquelettes Stranis.
De nouvelle formes de Tr'Traris virent le jours bien vite, puissant, précis et par millions. La technique Tr'Traris évolua de manière exponentielle de telle manière qu'ils prirent une avancée de plusieurs siècles sur les autres espèces. En 2253 (<a href="/templates/wiki/Calendrier%20Galactique.html">c33</a>) la Ruche se rendit compte que l'esprit de ruche relevait un défaut incontournable : il manquait d'objectivité. Pour pallier ce problème la Ruche décida de créer une nouvelle génération de Tr'Traris.
</p>
<h2>La nouvelle génération</h2>
<p>La conception de la nouvelle génération est simple : ce sont des Tr'Traris qui ne sont pas reliés à l'esprit de la ruche.
L'idée est qu'ils développent leur propre libre arbitre, avis et idéaux ; qu'ils observent, découvrent et réagissent en conséquence.
Pour ajouter une notion d'individualité, la Ruche décida de ne donner qu'une partie de sa connaissance à chaque naissance.
Chaque Tr'Traris aura des connaissances de base, connue par tous et une partie des connaissances interdites que seule la Ruche gardera, mais surtout il aura une quantité de connaissance aléatoire qui servira de graine à la naissance du Tr'Traris. Cette graine qu'aura chaque nouveau Tr'Traris se fera renommer au fil du temps en « âme ». À partir de ce moment de nombreux Tr'Traris différents ont commencé à naître avec des choix de vie différents.
Il y a ceux qui veulent continuer à défendre la Ruche et aider les Tr'Traris à se développer. Il y a ceux qui sont avides de découvertes et d'exploration et qui voyageront à travers l'espace. Et il y a ceux qui se méfient de la Ruche, qui ne comprennent pas pourquoi elle leur cache des choses et qui doutent de leur libre arbitre et se demande si elle n'aurait pas posé un implant pour les espionner.
La Ruche n'a pas donné de réponse à ces questions et laisse les Tr'Traris y réfléchir par eux-mêmes. Certains par rapport à cette crainte ont créé leurs propres Tr'Traris pour éviter qu'il ne soit contrôlé par la Ruche. Cependant ces Tr'Traris sont moins puissants que ceux créé par la Ruche et cela ne répond pas aux secrets qu'elle leur cache.
En 2355 (<a href="/templates/wiki/Calendrier%20Galactique.html">c135</a>) la guerre avec les Stranis prie fin, mais plus par abandons de la part de Stranis dû à la guerre contre les Torks que par alliance cordiale entre les deux peuples.
La société Tr'Traris continuera à évoluer et en 2510 (<a href="/templates/wiki/Calendrier%20Galactique.html">c290</a>) une faction d'un parti Tr'Traris dit les indépendants fonda sa propre nation sur une planète voisine. Elle se nomme Kr'Alka et est non viable pour tout être organique.
Les Tr'Traris l'habitant s'appelle des Kr'Karis.</p>

</body>
</html>