<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="UTF-8">
<title>Tribunal d'Alcor</title>
</head>
<body>
<h1>Tribunal d'Alcor</h1>
<p><em>Par Orion le MJ</em></p>
<h2>Histoire</h2>
<p>En 2113 (<a href="/templates/wiki/Calendrier%20Galactique.html">c-100</a>) entre en vigueur le Code Civil d’Alcor (CCA), il prend effet dans la station <a href="/templates/wiki/Alcor.html">Alcor</a> et sur New Gaïa, il s’étendra par la suite aux autres spatioports et colonies humaines.
En 2217 (<a href="/templates/wiki/Calendrier%20Galactique.html">c-1</a>) ont lieu les premiers échanges diplomatiques avec les <a href="/templates/wiki/Stranis.html">Stranis</a>, en 2219 (<a href="/templates/wiki/Calendrier%20Galactique.html">c-0</a>) les Stranis s’engagent à respecter le CCA dans l’espace humain, mais demandent de juger toute infraction commise par l’un des leurs avec leur propre justice.
La loi Strani et le CCA ajoute ensemble une nouvelle infraction : « Non respect d’une loi alien. ».
Suite à la première colonie hors du système Hélios en 2248 (<a href="/templates/wiki/Calendrier%20Galactique.html">c26</a>), le Tribunal d'Alcor est fondé en 2250 (<a href="/templates/wiki/Calendrier%20Galactique.html">c28</a>) sur la station Alcor.
Cette institution est garante du CCA, aussi, chaque colonie et spatioport devra être équipé d’un tribunal.
Chaque citoyen possède un casier judiciaire géré par le Tribunal.
Les Vadas intègrent le conseil et le Consortium en 2543 (<a href="/templates/wiki/Calendrier%20Galactique.html">c302</a>) et 2544 (<a href="/templates/wiki/Calendrier%20Galactique.html">c303</a>), tout comme les Stranis en 2217 (<a href="/templates/wiki/Calendrier%20Galactique.html">c-1</a>), ils acceptent de respecter le CCA dans l’espace humain, néanmoins,leur système judiciaire et leur concept même de justice étant assez éloignée du nôtre, le Tribunal recommande d’accompagner les Vadas dans les colonies et de faire preuve de compréhension à leur égard.
</p>
<h2>Procédures</h2>
<p>Peu importe l’infraction, c’est aux forces de police locale d’interpeller le contrevenant.
Tous les procès sont présidés par un juge indépendant nommé sur place pour une durée fixe.
Tout citoyen jugé ou juré se verra noté dans son casier judiciaire les informations relatives au procès : accusé, infraction(s), faits, sentences, peine, juge, jurés.
Le Tribunal détermine trois types d’infractions :
   a) Infraction au CCA
En cas d’infraction au CCA, la procédure est très automatisé, le prévenu est emmené au Tribunal disponible le plus proche.
Le nombre de jurés dépend de la taille de la colonie/station, ces derniers sont tirés au hasard parmi tous les citoyens de la Confédération.
Ils assistent au procès par visioconférence.
La police expose les faits et les preuves.
L’accusé a le droit de remettre en cause les preuves, si tel est le cas, une commission nommée par le juge devra vérifier si les preuves en question sont recevables.
Si une preuve est considérée comme irréfutable, le prévenu risque de voir sa peine alourdie pour avoir fait perdre du temps à la cour.
Si au contraire elle est jugée irrecevable, elle est retirée.
Une fois toutes les preuves acceptées, les jurés sont appelés au procès.
Leur sont alors présentés les faits, suite à quoi le juge expose le ou les articles du CCA relatif à la situation et la ou les peines associées si il y a jurisprudence.
Les jurés ont ensuite un temps de réflexion puis doivent voter : coupable, innocent ou indécis.
Innocent implique la relaxe de l’individu, indécis donne à la police du temps (fixé par le juge) pour assembler d’autres preuves avant un autre procès.
Si l’individu est reconnu coupable, le juge propose une peine (généralement par jurisprudence) aux jurés.
Suite à un vote, si la majorité refuse la peine proposée, c’est à eux de définir par concertation une peine plus adéquate. S’ils n’y parviennent pas, la sentence initiale est gardée.
   b) Infraction à la loi locale
La procédure est très similaire à la précédente, à trois différences, le prévenu est emmené dans le Tribunal local, et le juge dispose d’un adjoint volontaire ayant connaissance des lois locales.
Enfin les jurés proviendront à 50 % de la colonie locale.
Le reste de la procédure est identique à une infraction au CCA
    c) Infraction d’une loi alien
Dans ce cas particulier, l’individu devra être emmené au Tribunal le plus proche disponible en collaboration avec les forces de l’ordre alienes locales.
Le juge quo-présidera la séance avec un émissaire alien.
Il y aura également un second jury composé uniquement de membres de la faction alien en question.
Le reste de la procédure est similaire, mais il revient aux juges de trancher en cas de différences de sentences entre les deux jurys.
</p>
<h2>Peines</h2>
<p>Le CCA autorise quatre sortes de peines :
- Compensation financière
- Travail de compensation
- Emprisonnement/isolation pour une durée finie
- Exil/bannissement pour une durée infinie
Le travail de compensation peut être au profit des victimes (ou famille de victimes) ou bien à la colonie.
Il est délimité par un temps de travail et/ou bien un montant total de bénéfice.
L’isolation se fait selon les infrastructures de la colonie, si elle n’en a pas les moyens, elle peut demander à faire transférer le prisonnier dans une autre colonie (à ses frais).
Si l’exil est prononcé, la colonie s’engage à transporter l’individu jusqu’au spatioport le plus proche.
Ces peines peuvent se cumuler selon la gravité des faits ou selon l’avis du jury.</p>

</body>
</html>