<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="UTF-8">
<title>Usage des armes</title>
<style>header { display: flex; align-items: center; padding: 10px; } header img { height: 50px; margin-right: 10px; } </style>
</head>
<body>
<header>
<a href="/"><img src="/C:\Users\orion\Documents\Space Squad\Site\static\images/Logo.png" alt="Logo"></a>
<h1>Space Squad</h1>
</header>
<h1>Usage des armes</h1>
<p><em>Par Orion le MJ</em></p>
<h2>Civils & militaires</h2>
<p>Il existe plusieurs catégories pour les armes :
Armes de fortune
Armes de défense non létales
Armes de sécurité
Armes de guerre
Les armes de guerre sont celles utilisées par les pilotes du Consortium ou l'armée Strani. Les armes de sécurité concernent les armes des forces de sécurité locales des colonies. Leur usage est principalement l'intimidation d'éventuels pirates.
Les armes de défense non létales servent au « maintien de la paix » par les forces de l'ordre et selon les colonies l'auto-défense des citoyens.
Enfin, les armes de fortune désignent tout objet utilisé par quiconque sur un autre individu ou lui-même, il s'agit surtout d'un terme juridique plus que fonctionnel.
</p>
<h2>Fabricants</h2>
<p>Officiels
L'écrasante majorité des armes utilisées par les pilotes sont issus des manufactures de l'Alliance, sauf quelques rares exceptions (en particulier des armes expérimentales). La conception de ces armes (ainsi que leurs améliorations) peuvent provenir de différentes sources, mais la fabrication reste l'œuvre de l'Alliance.
Idem pour les Stranis, les armes de l'armée sont fabriquées par l'armée elle-même.
Ces méthodes de production permettent un contrôle sur la diffusion des armes.
Le cas Cerberi
Cerberi n'ayant pas les infrastructures de la Confédération, elle a mis au point son propre modèle de fusil et le produit pour son armée régulière.
Il arrive cependant que des membres de Cerberi récupère les armes de leurs adversaires dès qu'il en ont l'occasion. Il n'est donc pas rare de les voir équipés d'armes de l'Alliance.
Privés
Rare sont les entreprises privées à avoir reçu une autorisation de fabrication d'armes. A ce jour, seuls deux peuvent le faire : Omnihim et Intrasog.
Ils sont limités aux armes de sécurité et de défense non létales et sont donc les principaux fournisseurs de matériel de sécurité pour les colonies.
Tout nouveau produit doit être approuvé par l'Alliance et toute transaction par la Guilde.
Ils ont également l'interdiction de commercer avec Cerberi.
</p>
<h2>Usage</h2>
<p>Les armes de guerre étant réservé à l'usage des pilotes et des forces armées aliens, toute possession d'une de ces armes par un civil est un délit selon le CCA : « Tout citoyen amené à se retrouver en possession d'une arme de guerre devra impérativement prévenir un représentant de l'autorité la plus proche afin de lui remettre l'arme. Ce dernier prendra soin de la sceller et de la déposer à la caserne la plus proche ».
En dehors du marché noir, il est impossible pour un citoyen non-pilote de se procurer une telle arme. La vente est faite en caserne et uniquement à des pilotes ou bien lors de transactions inter-espèces entre institutions armées.
Toute transaction d'armes de sécurité est encadrée par la Guilde et est à destination des gouvernements coloniaux uniquement. Si une telle arme se retrouve dans les mains d'un citoyen, c'est le gouvernement qui en a fait l'acquisition qui est responsable.
De même lors de toute mauvaise utilisation par les forces de sécurité, selon la faute commise, cela peut relever de l'individu lui-même ou bien du manque de formation, qui est alors la responsabilité du gouvernement.
Même fonctionnement pour les armes de défense non létales, sauf qu'il est possible pour un gouvernement d'autoriser la possession de ces armes à des civils formés et porteurs d'un permis (ce permis n'est valable que dans la colonie d'acquisition).</p>

</body>
</html>